@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
body{
    max-width: 1920px;
    font-family: open sans;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    display: flex;
    justify-content: center;
}
.raleway{
    font-family: 'Raleway' , sans-serif;
}
.open{
    font-family: 'Open Sans', sans-serif;
}
header{
    max-width: 1440px;
    margin: 50px auto 50px auto;
}
header nav{
    display: flex;
}
.logoWrapper{
    width: 50%;
    display: flex;
    
}
.navbar{
    width: 80%;
    display: flex;
    justify-content: end;
    
}
.herowrapper{
    display: flex;
}
.hero{
      max-width: 1440px;
      margin: 0 auto 0 auto;
}
.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar ul li{
    padding: 0 25px 25px 0;
    font-weight: lighter;
}
.heroleft, .heroright{
    width: 50%;
}
.heroright img{
    width: 100%;
     
}
.heroleft{
    display: flex;
    align-items: center ;
}
.heroleft__wrapper h1{
    font-size: 3rem;
}
.heroleft__wrapper p{
    font-size: 1.4rem;
}
.heroinput__wrapper input{
    width: 50%;
    padding: 5px 10px 5px 10px;
}
.heroinput__wrapper a{
    text-decoration: none;
    background-color: hsl(224, 93%, 58%);
    color: white;
    margin-left: 15px;
    padding: 7px 80px 7px 80px;
    font-size: .85rem;
    font-weight: bold;
    border-radius: 2px;
}
.curve{
    
    width: 100%;
}
.curve img{
    width: 100%;
}
.content{
    display: flex;
}
.contentright, .contentleft{
    width: 50%;
}
.contentright img{
    width: 100%;
}
.bf1s{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    padding-top: -5px;
    height: auto;
    padding-bottom: 25px;
  
}
.bf1{
    justify-content: center;
    display: flex ;
    
}
.textbf1{
    display: flex;
    
}
.bf1 h2{
    font-size: 2.5rem;
}
.bf1 p{
    font-size: 1rem;
}
.bck{
    background-color: hsl(240, 75%, 98%)
}
.bf1 a{
    color: green;
    text-decoration: none;
    border-bottom: 1px solid green;
}
.box1c{
    box-shadow: 5px 5px 5px gray;
    margin-top: -250px;
    padding: 50px;
    background-color: white;
    width: 25%;
    border-radius: 5px;
    border: solid 1px grey;
 
}
.minibox1c img{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.minibox1c {
    padding-top: 30px;
    padding-bottom: -15px;
 display: flex;
}

.miniboxtx1{
    font-weight: 700;
}
.miniboxtx2{
    font-weight: 300;
}
.image1 img{
    width: 20px;
    height: auto;
}
.image1{
    padding-bottom: 10px;
}

.section3{
    
    display: flex;
    color:white;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: -15px;
    background-color: hsl(238, 22%, 44%);
}
.textsection31{
    width: 35%;
    margin-right: 250px;
}
.boxsection3{
    width: 35%;
}
.heroinput__wrapper1 a{
    text-decoration: none;
    background-color: hsl(224, 93%, 58%);
    color: white;
    padding: 7px 40px 7px 40px;
    font-size: .85rem;
    font-weight: bold;
    border-radius: 2px;
}
.heroinput__wrapper1 input{
    width: 100%;
    padding: 5px 10px 5px 10px;
}
.smallbox1{
    padding-top: 15px;
    width: auto;
}
.section4{
    background-color:  hsl(243, 87%, 12%);
    display: flex;
    color:white;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-top: -15px;
}
.box4{
    padding-top: 20px;

}
.box4 img{
    padding-right: 15px;
}
.box41{
    width: 25%;
    padding-left: 20%;
}
.box41 li{
    list-style: none;
}
.section4 li{
    padding-bottom: 20%;
}
.logo1 img{
    filter: brightness(0) invert(1);

}
li:hover{
    color: grey;
}